/* =================
  Buttons
 ================= */

button {
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0.7em 1.4em;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

button:hover {
  color: var(--white);
  background-color: var(--accent-dark);
}

.btn {
  flex-grow: 1;
  color: var(--accent-dark);
  background-color: var(--white);
  border: 1px solid var(--medium-grey);
}

.btn-add-task {
  border-radius: 0 7px 7px 0;
  max-width: 40px;
  padding: 1em 0;
}

.btn-big {
  width: 100%;
  max-width: 600px;
}

.btn-big,
.btn-add-task {
  font-weight: 700;
  color: var(--white);
  background-color: var(--accent);
}

.fa-solid {
  margin: 0 1em;
}

/* =================
  Form
 ================= */

.label-visibility {
  /* Hides the label from sight but remain accessible to users who rely on screen readers. */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.task-input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.task-name {
  padding: 0 1em;
  flex-grow: 1;
  border-radius: 7px 0 0 7px;
}

.task-price {
  border: none;
  background-color: var(--accent-light);
}

.task-name,
.task-price {
  font-size: 1.25rem;
  border: 1px solid var(--medium-grey);
}
